{{> head}} <!-- Подключаем head.hbs -->

<body>
  {{> navbar}} <!-- Подключаем navbar.hbs -->

  <div class="container">
    {{{ body }}} <!-- Здесь будет вставляться контент страницы -->
  </div>
</body>

</html>
