<h2 class="center-align" style="font-size: 2.5rem; font-weight: bold; margin-top: 30px;">Create Todo</h2>

<form action="/create" method="POST" style="margin-top: 20px;">
  <div class="input-field">
   <input type="text" name="title" placeholder="Todo title" 
       onfocus="this.placeholder=''" 
       onblur="this.placeholder='Todo title'">
  </div>

  <button class="btn purple darken-4" type="submit">
  <i class="material-icons">add</i>
  </button>
</form>
