<h2>Todos page</h2>

{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">
    <label>
      <input type="checkbox" class="toggle-status" data-id="{{this.Id}}" {{#if status}}checked{{/if}}>
      <span>{{title}}</span>
    </label>


    <button class="btn-small red darken-2 delete-todo" data-id="{{this.Id}}">
      <i class="material-icons">delete</i>
    </button>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', function () {

    document.querySelectorAll('.toggle-status').forEach(checkbox => {
      checkbox.addEventListener('change', async function () {
        let todoId = this.dataset.id;
        let completed = this.checked ? 1 : 0;

        console.log(`Отправка: ID=${todoId}, completed=${completed}`);

        try {
          let response = await fetch('/complete', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: todoId, completed: completed })
          });

          let data = await response.json();
          if (data.success) {
            console.log('Статус обновлён!');
          } else {
            console.error('Ошибка обновления:', data.error);
          }
        } catch (error) {
          console.error('Ошибка AJAX:', error);
        }
      });
    });


    document.querySelectorAll('.delete-todo').forEach(button => {
      button.addEventListener('click', async function () {
        let todoId = this.dataset.id;
        
        console.log(`Отправка на удаление: ID=${todoId}`);

        try {
          let response = await fetch('/delete', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: todoId })
          });

          let data = await response.json();
          if (data.success) {
            console.log('Удалено!');
            this.closest('li').remove();
          } else {
            console.error('Ошибка удаления:', data.error);
          }
        } catch (error) {
          console.error('Ошибка AJAX:', error);
        }
      });
    });
  });
</script>
